.socialLinks {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.social{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 20px;
}

.label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #666;
  display: block;
}

.row {
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}
