.wrapper{
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}

.name{
  margin: 0;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}

.bio{
  /* margin-top: 6px; */
  max-width: 500px;
  color: #1f2937;
}

.stats{
  margin-top: 12px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #1f2937;
}

.statsdata{
  color: #000;
}
