.wrapper {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.name {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  color: #000;
}
