@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: var(--font-product-sans), sans-serif;
}
.grid-background {
  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #E5E7EB 1px, transparent 1px),
    linear-gradient(to bottom, #E5E7EB 1px, transparent 1px);
  background-size: 40px 40px;

  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
