

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

.grid-background {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0; /* keep it behind content */

  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #E5E7EB 1px, transparent 1px),
    linear-gradient(to bottom, #E5E7EB 1px, transparent 1px);
  background-size: 40px 40px;
}
