

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
}
