/* .profile-form {
  display: flex;
  flex-direction: column;
}

.avatar-section {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.change-photo {
  background: none;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.photo-hint {
  font-size: 12px;
  color: #888;
}

label {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 6px;
  color: #666;
}

input,
textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
}

.save-btn {
  margin-top: 30px;
  width: 160px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
} */





.profileForm {
  display: flex;
  flex-direction: column;
}

.avatarSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.changePhoto {
  background: none;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.photoHint {
  font-size: 12px;
  color: #888;
}

.label {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 6px;
  color: #666;
}

.input,
.textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
}

.saveBtn {
  margin-top: 30px;
  width: 160px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

